<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="indentation">
        <a th:href="@{/admin/user/panel}">Back to panel</a>
    </div>
    <div class="box">
        <form action="#" th:action="@{/admin/user/add}" th:object="${user}" method="post">
            <p>Login <input type="text" th:field="*{login}" required placeholder="Enter Login">
            <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>

            <p>Password <input type="password" th:field="*{password}" required placeholder="Enter Password">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

            <p> If is, select attached employee:
                <select th:field="*{empId}">
                    <option th:each="e : ${employees}" th:value="${e.id}" th:text="${e.toString()}"></option>
                    <option th:value="0" th:text="'This user is not employee'"></option>
                </select>
            </p>
            <p>Select roles: </p>
            <ul>
                <li th:each="role : ${allRoles}">
                    <input type="checkbox" th:field="*{roles}" th:value="${role.id}"/>
                    <label th:for="${#ids.prev('roles')}"
                           th:text="${role.role}"></label>
                </li>
            </ul>
            <p th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></p>
            <p><input class="btn btn-primary" type="submit" value="Add employee" /></p>
        </form>
    </div>
</body>
</html>