<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="indentation">
        <p>Are you sure to delete this user?: </p>
        <p th:text="${user.toString()}"></p>
    </div>
    <div class="box">
        <form action="#" th:action="@{/admin/user/delete}" method="post" th:object="${empty_user_del}">
            <input type="hidden" id="empty_user_del.id" name="id" th:value="${user.id}">
            <button class="btn btn-danger" type="submit" name="action" value="yes">Yes</button>
            <button class="btn btn-success" type="submit" name="action" value="no">No</button>
        </form>
    </div>
</body>
</html>