<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a th:href="@{/logout}">Logout</a>
    <a style="display:inline-block;" th:href="@{/admin/employee/panel}">Switch to employee actions</a>

    <form style="display:inline-block;" action="#" th:action="@{/admin/user/all}" method="get">
        <input type="submit" value="All users">
    </form>

    <form style="display:inline-block;" action="#" th:action="@{/admin/user/add}" method="get">
        <input type="submit" value="Add user">
    </form>
</body>
</html>