<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Panel</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="indentation">
        <a th:href="@{/logout}">Logout</a>
        <a th:href="@{/admin/employee/panel}">Switch to employee actions</a>
    </div>
    <div class="box" style="padding-top:20px;">
        <div class="item">
            <form action="#" th:action="@{/admin/user/all}" method="get">
                <input class="btn btn-primary" type="submit" value="All users">
            </form>
        </div>
        <div class="item">
            <form action="#" th:action="@{/admin/user/add}" method="get">
                <input class="btn btn-primary" type="submit" value="Add user">
            </form>
        </div>
    </div>
</body>
</html>