<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a th:href="@{/admin}">Back to panel</a>
    <br>
    <div th:with="result = ${employees.isEmpty()}">
        <div th:if="${result}">
            <p>List is empty</p>
        </div>
        <div th:unless="${result}">
            <p>Employees:</p>
            <p th:each="e : ${employees}" th:text="'Id: ' + ${e.id} + ' Name: ' + ${e.name} + ' Salary: ' + ${e.salary}"></p>
        </div>
    </div>
</body>
</html>