<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a th:href="@{/admin}">Back to panel</a>
    <br>
    <div th:with="result = ${employees.isEmpty()}">
        <div th:if="${result}">
            <p>List is empty</p>
        </div>
        <div th:unless="${result}">
            <p>Employees:</p>
            <div th:each="e : ${employees}">
                <form th:object="${empty_emp}" action="#" th:action="@{/admin/empedit}" method="get">
                    <p style="display:inline-block;" th:text="'Id: ' + ${e.id} + ' Name: ' + ${e.name} + ' Salary: ' + ${e.salary}"></p>
                    <input type="hidden" id="id" name="id" th:value="${e.id}">
                    <!-- <input type="hidden" name="salary" value="${e.salary}"> <!-->
                    <input type="submit" value="Edit">
                </form>
                <!--<p style="display:inline-block;" th:text="'Id: ' + ${e.id} + ' Name: ' + ${e.name} + ' Salary: ' + ${e.salary}"></p>
                    <button th:object="${e}" action="#" th:action="@{/admin/empedit}" method="post" th:href="@{empedit}"></button>
                <!-->
            </div>
        </div>
    </div>
</body>
</html>