<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Panel</title>
</head>
<body>
        <a style="display:inline-block;" th:href="@{/logout}">Logout</a>

        <form action="#" th:action="@{/admin/employee/panel}" method="get">
            <input type="submit" value="Employee actions">
        </form>
        <form style="display:inline-block;" action="#" th:action="@{/admin/user/panel}" method="get">
            <input type="submit" value="User actions">
        </form>

</body>
</html>