<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a th:href="@{/admin}">Back to panel</a>
    <br>
    <div th:with="result = ${employees.isEmpty()}">
        <td th:text="'Results for ' + ${content.text}"></td>
        <br>
        <div>
            <p th:if="${result}">Cant find employee</p>
            <div th:unless="${result}" th:each="e : ${employees}">
                <form th:object="${empty_emp}" action="#" th:action="@{/admin/empedit}" method="get">
                    <p style="display:inline-block;" th:text="'Id: ' + ${e.id} + ' Name: ' + ${e.name} + ' Salary: ' + ${e.salary}"></p>
                    <input type="hidden" id="id" name="id" th:value="${e.id}">
                    <input type="submit" value="Edit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>