<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a th:href="@{/admin}">Back to panel</a>
    <br>
    <tr th:with="result = ${employee.id == null or employee.name == null or employee.salary == null}">
        <td th:text="'Results for ' + ${content.text}"></td>
        <br>
        <td>
            <p th:if="${result}">Cant find employee</p>
            <p th:unless="${result}" th:text="'Id: ' + ${employee.id} + ' Name: ' + ${employee.name} + ' Salary: ' + ${employee.salary}"></p>
        </td>
    </tr>
</body>
</html>