<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Panel</title>
</head>
<body>
    <a style="display:inline-block;" th:href="@{/logout}">Logout</a>
    <a th:href="@{/admin/user/panel}">Switch to user actions</a>

    <form action="#" th:action="@{/admin/employee/search}" th:object="${content}" method="post">
        <p>Search <input type="text" id="text" name="text" /></p>
        <p><input type="submit" value="Search employee" /></p>
    </form>
    <form style="display:inline-block;" action="#" th:action="@{/admin/employee/all}" method="get">
        <input type="submit" value="All employees">
    </form>
    <form style="display:inline-block;" action="#" th:action="@{/admin/employee/add}" method="get">
        <input type="submit" value="Add employee">
    </form>
</body>
</html>