<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a style="display:inline-block;" th:href="@{/logout}">Logout</a>

    <div th:with="result = ${employee == null}">
        <div th:if="${result}">
            <p>This employee not exist</p>
        </div>
        <div th:unless="${result}">
            <p th:text="'Id: ' + ${employee.id} + ' Name: ' + ${employee.name} + ' Salary: ' + ${employee.salary}"></p>
        </div>
    </div>
</body>
</html>