<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:method="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" th:action="@{/save}" th:object="${user}" method="post">
        <label for="id">Id</label>
        <input type="number" th:field="*{id}" id="id" placeholder="Id">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name">
        <input type="submit" value="Add User">
    </form>
</body>
</html>